<!-- templates/issue_create.html -->
{% extends "base.html" %}
{% block content %}

<h2>Report Public Issue</h2>

<form method="POST" enctype="multipart/form-data">

    <label>Title</label><br>
    <input type="text" name="title" required><br><br>

    <label>Description</label><br>
    <textarea name="description" required></textarea><br><br>

    <label>Category</label><br>
    <select name="category" required>
        <option value="">Select Category</option>
        <option value="Road">Road</option>
        <option value="Garbage">Garbage</option>
        <option value="Water">Water</option>
        <option value="Electricity">Electricity</option>
        <option value="Health">Health</option>
        <option value="Other">Other</option>
    </select><br><br>

    <label>Upload Images (optional)</label><br>
    <input type="file" name="images" multiple><br><br>

    <button type="submit">Submit Issue</button>
</form>

{% endblock %}
